<header id="header" role="banner" class="header">

    <div class="container">

        <a href="#content" class="skip-link screen-reader-text">{{ 'header.skipLink' | translate }}</a>

        {% include "navigation.njk" %}

    </div>

</header>